<div class="demo">
  <h1>按钮</h1>
  <ru-button>默认按钮</ru-button>
  <ru-button type="green">绿色</ru-button>
  <ru-button type="text">文字按钮</ru-button>
  <ru-button type="green" [plain]="true">绿色简约</ru-button>
  <ru-button [round]="true">圆角按钮</ru-button>
  <br>
  <br>

  <h4>幽灵按钮</h4>
  <ru-button type="green" [ghost]="true" [plain]="true">幽灵按钮</ru-button>
  <ru-button type="green" [ghost]="true" [round]="true" [plain]="true">幽灵按钮</ru-button>
  <br>
  <br>
  <h4>简约样式</h4>
  <ru-button type="green" [plain]="true">绿色</ru-button>
  <br>
  <br>
  <h4>圆角样式</h4>
  <ru-button [round]="true">圆角按钮</ru-button>
  <ru-button type="green" [round]="true">圆角按钮</ru-button>
  <ru-button type="green" [plain]="true" [round]="true">圆角按钮</ru-button>
  <br>
  <br>
  <h4>禁用样式</h4>
  <ru-button [disabled]="true">禁用样式</ru-button>
  <ru-button [disabled]="true" type="green" [plain]="true">绿色</ru-button>
  <ru-button [disabled]="true" type="green" [plain]="true" [round]="true">绿色</ru-button>
  <pre class="hljs"><code [innerHTML]="demo | htmlToText" class="html"></code></pre>
</div>