.table {
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #EAF2F5;
    * {
        box-sizing: border-box;
    }
    tr {
        &:nth-child(even) {
            background-color: #F0F4F3;
        }
    }
    th,
    td {
        padding: 10px;
        border: solid 1px #EAF2F5;
    }
}