/* You can add global styles to this file, and also import other style files */

@import "highlight.js/styles/rainbow.css";
html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #333;
}

body {
    // background-color: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

hr {
    margin: 30px 0;
    background-color: #dddddd;
    height: 1px;
    border: none;
}

:focus {
    outline: none;
}

pre {
    line-height: 1.8;
    font-family: Consolas, 'Courier New', monospace;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 1px 30px 80px rgba($color: #000000, $alpha: 0.5);
    padding: 0;
    margin: 80px 0;
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 5px;
        /*高宽分别对应横竖滚动条的尺寸*/
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        background: #343434;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        // background: #474949;
    }
}

@import "app/style/table.scss";
@import "app/style/tool.scss";
kbd {
    background-color: #474949;
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}